@import url("./responsive.css");

html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #fafafa;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f3f4f6;
  padding: 20px;
  color: white;
  text-align: center;
  border-top: 1px solid #e5e7eb;
}

button:disabled {
  background-color: #ccc;
  color: #616161;
  cursor: not-allowed;
  opacity: 0.7;
}

button {
  margin: 0.3em;
  padding: 0.5em 1em;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #e0e0e0;
  transition: 0.2s;
}

button:hover {
  background: #ccc;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  margin: 6px 0;
  font-size: 14px;
}

.btn:hover {
  background: #0056b3;
}

.btn i {
  color: white;
  font-size: 18px;
}

#character-container {
  margin: 20px auto;
  width: 300px;
  height: 300px;
}

.controls {
  margin-top: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
  width: 120px;
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.title i {
  /* font-size: 28px; */
  color: #f59e0b;
  transition: transform 0.2s ease;
}

.title:hover i {
  transform: rotate(10deg) scale(1.1);
}
