body {
  font-family: sans-serif;
  text-align: center;
  background: #fafafa;
  margin: 2em;
}

button {
  margin: 0.3em;
  padding: 0.5em 1em;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #e0e0e0;
  transition: 0.2s;
}

button:hover {
  background: #ccc;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #007bff;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  margin: 0.5em;
}

.btn:hover {
  background: #0056b3;
}
